html, body {height: 100%}

.color-0 {background-color: #3283C2}
.color-1 {background-color: #52ADAE}
.color-2 {background-color: #78A53C}
.color-3 {background-color: #834D98}
.color-4 {background-color: #93836A}
.color-5 {background-color: #AE6E4A}
.color-6 {background-color: #BD377C}
.color-7 {background-color: #DD9728}

.main {color: #EEE8EC; height: 100%; position: relative; border: 5px solid #EEE8EC; text-align: center}
.main > div {height: 100%;}
.main > div > div {position: relative; padding: 10% 3%}
#fant-name {color: #FDDB6D; font-size: 12vmin}
#fant-text {color: #EEECEC; font-size: 8vmin}
#btn-wrapper {color: #FCFEFF;  position: fixed; bottom: 0%; width: 100%; background: #EEE8EC}
#btn-wrapper div {cursor: pointer; font-size: 10vmin; border: 5px solid #EEE8EC; width: 50%; text-align: center; display: inline-block}
#btn-win {float: right;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}