html, body {height: 100%}

.color-back {background-color: white}
.color-fail {background-color: #A94442}
.color-main {background-color: #3283C2} /* lightblue */
.color-0 {background-color: #DD9728} /* golden */
.color-1 {background-color: #3283C2} /* skylightblue*/
.color-2 {background-color: #78A53C} /* green */
.color-3 {background-color: #834D98} /* magenta (purple-gray) */

#btn-add-gamer {background-color: #59A2DA}
#btn-add-gamer:active {background-color: #296B9D}
#btn-start-game {background-color: #3A7CAF}
#btn-start-game:active {background-color: #296B9D}
#btn-win {background-color: #4063D6}
#btn-win:active {background-color: #2C4DB8}
#btn-fail {background-color: #FF5136}
#btn-fail:active {background-color: #DB3E25}
#btn-ok {background-color: #78A53C}
#btn-ok:active {background-color: #89B64D}

.text-color-0 {color: #DD9728} /* golden */
.text-color-1 {color: #3283C2} /* skylightblue*/
.text-color-2 {color: #78A53C} /* green */
.text-color-3 {color: #834D98} /* magenta (purple-gray) */

#main {color: #EEE8EC; height: 100%; position: relative; border: 1vmin solid #EEE8EC; border-bottom: 0px; text-align: center}
.aligner-gamers{height: auto; min-height: 100%}
.aligner-tasks {display: flex; align-items: center; justify-content: center;}
#players {position: absolute; right: 2vmin; top: 1vmin; font-size:3vmin;}
#players img {width: 15vmin;}
#task, #prepare, #fail {position: relative; width: 90%; margin-top: -5vmin;}
#gamers {padding-bottom: 11vmin; padding-top: 5vmin}
.title {color: #FDDB6D; font-size: 11vmin; text-shadow: 1vmin 1vmin 1vmin #8D6B1D}
.text {color: #EEECEC; font-size: 8vmin; text-shadow: 0.5vmin 0.5vmin 1vmin #555555}
.text-prepare {font-size: 9vmin; text-shadow: 0.3vmin 0.3vmin 0.5vmin #BBBBBB}
.text-inf {color: #FFCC35; font-size: 6vmin; text-shadow: 0.5vmin 0.5vmin 1vmin #555555}

#scores {position: absolute; z-index: 100; padding: 5vmin; width: 100%; height: auto; }
#scores > div {position: relative; width: 100%; height: auto; border: 1vmin solid #EEE8EC; border-radius: 1vmin; background-color: #F3FAFC;}
#scores .close {float: right; font-size: 10vmin; padding: 1vmin; color: #EEE8EC;}
#scores > div > p {width: 100%; background-color: #3283C2; text-align: center; padding: 1vmin; font-size: 7vmin; color: #EEE8EC; margin: 0;}

#btn-wrapper {color: #FCFEFF;  position: fixed; bottom: 0%; width: 100%; background: #EEE8EC}
#btn-wrapper div {cursor: pointer; font-size: 8vmin; border: 1vmin solid #EEE8EC; width: 50%; text-align: center; display: inline-block}
#btn-win, #btn-start-game {float: right;}
#btn-user, #btn-ok {width: 100% !important}

#start-gamer-form label {font-size: 4vmin}
#start-gamer-form .form-control {font-size: 4vmin; height: auto; border-radius: 0}
#start-gamer-form .form-group {margin-left: 0; margin-right: 0; text-align: right}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
.hidden {display: none}
